# Ignore Unity Temp files/directories
Class-ifyApp/Temp/

# Ignore Unity packages
Class-ifyApp/Packages/

# Ignore Unity Library
Class-ifyApp/Library/

# Ignore Unity User Settings
Class-ifyApp/UserSettings/

# Ignore more Unity and vsCode files
Class-ifyApp/Logs/
*.vsconfig
Class-ifyApp/Class-ifyApp.sln
